<a href="https://colab.research.google.com/github/karihejames/karihejames/blob/main/Unicorndata1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
#import the required libralies
# for all mathematical computations

import numpy as np
import pandas as pd
import scipy.stats as stats

#Data visualisation toos

import seaborn as sns
import matplotlib.pyplot as plt
import plotly
import plotly.express as ps
from matplotlib.pyplot import figure
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objects as go

%matplotlib inline

df = pd.read_csv('/Startups.csv', encoding='latin-1')

df.head()

,Unnamed: 0,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Investors
0,0,Bytedance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,1,SpaceX,$100.3,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,2,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
3,3,Klarna,$45.6,12/12/2011,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita..."
4,4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."

# New Section

In [56]:
from os import replace
from numpy.lib.shape_base import expand_dims


#cleaning the data. Start by renaming the column heads

df=pd.DataFrame(df)
df.rename(columns={'Date Joined' : 'Date'}, inplace=True)
df.rename(columns={'Valuation ($B)' : 'Valuation'}, inplace=True)
df.rename(columns={'Select Investors' : 'Investors'}, inplace=True)
df['Investors']=df['Investors'].to_string()

date=df.Date.str.split('/', expand=True)
df['year']=date[2]
df['month']=date[1]
df['day']=date[0]

df.year=pd.to_numeric(df.year)
df.month=pd.to_numeric(df.month)
df.day=pd.to_numeric(df.day)

df['Valuation']=df['Valuation'].str.replace('$','')
df.Valuation=pd.to_numeric(df.Valuation)

df.head()

<ipython-input-56-19a4bdd22c02>:22: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

,Unnamed: 0,Company,Valuation,Date,Country,City,Industry,Investors,year,month,day
0,0,Bytedance,140.0,4/7/2017,China,Beijing,Artificial intelligence,"0 Sequoia Capital China, SIG Asia Investm...",2017,7,4
1,1,SpaceX,100.3,12/1/2012,United States,Hawthorne,Other,"0 Sequoia Capital China, SIG Asia Investm...",2012,1,12
2,2,Stripe,95.0,1/23/2014,United States,San Francisco,Fintech,"0 Sequoia Capital China, SIG Asia Investm...",2014,23,1
3,3,Klarna,45.6,12/12/2011,Sweden,Stockholm,Fintech,"0 Sequoia Capital China, SIG Asia Investm...",2011,12,12
4,4,Canva,40.0,1/8/2018,Australia,Surry Hills,Internet software & services,"0 Sequoia Capital China, SIG Asia Investm...",2018,8,1

In [57]:
df['Investors']=df['Investors'].to_string()
df.head(10)

,Unnamed: 0,Company,Valuation,Date,Country,City,Industry,Investors,year,month,day
0,0,Bytedance,140.0,4/7/2017,China,Beijing,Artificial intelligence,"0 0 Sequoia Capital China, SIG Asia ...",2017,7,4
1,1,SpaceX,100.3,12/1/2012,United States,Hawthorne,Other,"0 0 Sequoia Capital China, SIG Asia ...",2012,1,12
2,2,Stripe,95.0,1/23/2014,United States,San Francisco,Fintech,"0 0 Sequoia Capital China, SIG Asia ...",2014,23,1
3,3,Klarna,45.6,12/12/2011,Sweden,Stockholm,Fintech,"0 0 Sequoia Capital China, SIG Asia ...",2011,12,12
4,4,Canva,40.0,1/8/2018,Australia,Surry Hills,Internet software & services,"0 0 Sequoia Capital China, SIG Asia ...",2018,8,1
5,5,Instacart,39.0,12/30/2014,United States,San Francisco,"Supply chain, logistics, & delivery","0 0 Sequoia Capital China, SIG Asia ...",2014,30,12
6,6,Databricks,38.0,2/5/2019,United States,San Francisco,Data management & analytics,"0 0 Sequoia Capital China, SIG Asia ...",2019,5,2
7,7,Revolut,33.0,4/26/2018,United Kingdom,London,Fintech,"0 0 Sequoia Capital China, SIG Asia ...",2018,26,4
8,8,Nubank,30.0,3/1/2018,Brazil,Sao Paulo,Fintech,"0 0 Sequoia Capital China, SIG Asia ...",2018,1,3
9,9,Epic Games,28.7,10/26/2018,United States,Cary,Other,"0 0 Sequoia Capital China, SIG Asia ...",2018,26,10